name: Build
on: [push]

jobs:

  linting:
    name: Linting
    runs-on: ubuntu-latest

    env:
      # https://github.com/actions/setup-go/issues/14
      GOPATH: ${{ github.workspace }}
      GOBIN: ${{ github.workspace }}/bin

    steps:

    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Setup
      run: |
        echo "::add-path::${GOBIN}"
        go get -u golang.org/x/lint/golint

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        path: ./src/github.com/${{ github.repository }}

    - name: Fmt, Vet, Lint
      working-directory: ${{ github.workspace }}/src/github.com/${{ github.repository }}
      run: |
        make fmt vet lint

  test:
    name: Test
    runs-on: ubuntu-latest

    env:
      GOPATH: ${{ github.workspace }}

    steps:

    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        path: ./src/github.com/${{ github.repository }}

    - name: Test
      working-directory: ${{ github.workspace }}/src/github.com/${{ github.repository }}
      run: make test

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: [linting, test]
    if: startsWith(github.ref, 'refs/tags/')

    env:
      GOPATH: ${{ github.workspace }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      VERSION: ${GITHUB_REF/refs\/tags\//}

    steps:

    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
        path: ./src/github.com/${{ github.repository }}

    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist
